 <form action="">
    <div>
      <select class="custom-select">
          <option value="" disabled selected>Choose</option>
          <option>Work From Home</option>
          <option>Network Connectivity</option>
          <option>LAptop Issues</option>
          <option>Software Issues</option>
          <option  id="other">Other</option>
       </select><br><br>
      </div>
  </form>