
  <body class="text-center">
    
<main role="main" class="container">
    
  <div class="alert alert-danger" role="alert" *ngIf="error">
    An error occured. Here is the error : {{ errorMessage }}.
  </div>
  <div *ngIf="savedChanges else showForm">
    New Account is created. Please login.
    <button class="btn btn-lg btn-primary btn-block" routerLink="/login" type="button">Login</button>
  </div>
  <ng-template #showForm>
    <span class="lead">
      <form class="form-signin" #newUserForm="ngForm" (ngSubmit)="setUser(newUserForm.value)">
        <div class="form-label-group">
          <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="FirstName" #FirstName="ngModel"
          autofocus required email ngModel>
        
        </div>
        <br>
        <div class="form-label-group">
         <input type="text" name="LastName" id="LastName" class="form-control" placeholder="LastName" #LastName="ngModel"
          autofocus required email ngModel>
        </div>
        <br>

        <div class="form-label-group">
          <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" #inputEmail="ngModel"
            autofocus required email ngModel>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="inputEmail.invalid && inputEmail.touched">
          Please enter a valid email.
        </div>
        <br>

        <div class="form-label-group">
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" #inputPassword="ngModel"
            required minlength="3" maxlength="20" ngModel>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="inputPassword.invalid && inputPassword.touched ">
          Please enter a valid password between 3 to 20 chars.
        </div>
        <br>

        <div>
          <button class="btn btn-lg btn-block btn-block" type="submit">Sign up</button>
        </div>

          <a routerLink="/login">Login</a>
      </form>
    </span>
  </ng-template>
</main>
  
</body>

